<%if notice%>
  <aside id="notice"><%= notice %></aside>
<%end%>
<h1>Store Depot Cart</h1>
<ul>
  <% @cart.line_items.each do |line_item| %>
    <li>
      <%= render 'carts/line_item', line_item: line_item %>
    </li>
  <% end %>
</ul>